.apartment-field-container{
    margin-top: 75px;
    padding-top: 5px;
    
}



.main-content{
    display:grid;
    grid-template-columns: 2fr 1fr;
    
}

.message{
    margin-left: 500px;
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}